! -- Xft settings -- 
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	1
Xft.hintstyle:	hintslight
Xft.style:      Regular
Xft.rgba:       rgb
Xft.lcdfilter:	lcddefault

*.alpha: 1.0

Xcursor.theme: Fuchsia-Pop

! inner padding
*.borderpx: 15
*.font: JetBrains Mono NFM:style=Regular:size=14:autohint=true:antialias=true
*.font2: FontAwesome 6 Free:style=Regular:size=14:autohint=true:antialias=true

xterm*faceName: xft:JetBrains Mono NFM
xterm*font: JetBrains Mono NFM
xterm*faceSize: 14

! Statusbar
*.bottom: "n"
*.bar: "polybar"

! Dmenu
dmenu.topbar: 0

! Default apps
apps.terminal: st
apps.screenshot: flameshot gui
apps.launcher: dmenu_run
apps.editor: nvim

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Green     10 Green
! 3 Yellow    11 Yellow
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 Grey      15 White

*.foreground:     #D5C4A1
*.background:     #1D2021
*.highlightColor: #3A3F4B
*.cursorColor:    #D5C4A1
*.fading:                  40

#ifdef background_opacity
*.background:   [background_opacity]#1D2021
#else
#endif

*.color0:       #1D2021
*.color8:       #665C54

*.color1:       #FB4934
*.color9:       #FB4934

*.color2:       #B8BB26
*.color10:      #B8BB26

*.color3:       #FABD2F
*.color11:      #FABD2F

*.color4:       #83A598
*.color12:      #83A598

*.color5:       #D3869B
*.color13:      #D3869B

*.color6:       #8EC07C
*.color14:      #8EC07C

*.color7:       #D5C4A1
*.color15:      #FBF1C7

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      #fe8019
*.color17:      #d65d0e
*.color18:      #3c3836
*.color19:      #504945
*.color20:      #bdae93
*.color21:      #ebdbb2
